* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: rgb(222, 224, 201);
  text-shadow: 0 0 6px #000000;
  background-image: url("../assets/images/cheesebg.jpg");
  background-size: 100%;
  background-color: black;
  background-repeat: no-repeat;
  font-family: "Merriweather Sans", sans-serif;
}

h1 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

.navbar {
  background-color: black;
  --bs-navbar-brand-color: rgb(153, 153, 96);
  --bs-navbar-brand-hover-color: yellow ;
}

.navbar-brand img {
  padding-left: 1rem;
  width: 4rem;
}
.navbar-brand img:hover {
  transition: 0ms;
  transform: scale(1.2, 1.2);
}

.active {
  color: #000000;
  background-image: linear-gradient(to top, rgb(158, 121, 0), rgb(255, 166, 0));
}

.nav-link {
  color: white;
}
.nav-link:hover {
  background-color: rgb(1, 247, 13);
}

.dropdown:hover .dropdown-menu {
  background-color: #000000;
}

.dropdown-menu {
  padding: 0;
  background-color: #000000;
  background: #000000;
}

.dropdown-menu :hover {
  background-color: rgb(1, 247, 13);
}

.dropdown-item {
  padding: 0;
  background-color: #000000;
  color: rgb(252, 243, 243);
}

.dropdown-item:hover {
  background-color: rgb(1, 247, 13);
}

.navbar-toggler {
  background-color: rgb(48, 48, 48);
  margin-right: 1rem;
  color: rgb(0, 255, 55);
}

.homecontain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.art {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-left: 1.5rem;
}

.shop {
  display: flex;
  justify-content: center;
  align-items: center;
}

.videos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 2rem;
}

.commissions {
  justify-content: left;
}

.homeimages {
  display: flex;
  flex-shrink: 0;
  padding: 1rem;
}

.art img {
  width: 20rem;
  border-radius: 5%;
  opacity: 0.8;
}

.art img:hover {
  opacity: 1;
  transition: 0ms;
  transform: scale(1.1, 1.1);
}

.ShopImages {
  display: flex;
  justify-content: flex-start;
  width: 9rem;
}

.ShopShirt {
  display: flex;
  justify-content: flex-end;
  width: 20rem;
}

.commisionimage {
  display: flex;
  justify-content: left;
  width: 10rem;
}

.helpimage {
  padding: 5rem 5rem 0 4rem;
}

.helpimage:hover {
  transition: 0ms;
  transform: scale(1.2, 1.2);
}

img {
  width: 100%;
  height: auto;
}

.about {
  display: block;
  text-align: center;
  padding: 3rem;
  font-size: larger;
}

.hometext {
  text-align: center;
  padding: 5rem 5rem 0 4rem;
}

.shoptitles {
  color: yellow;
  display: flex;
  justify-content: center;
  padding: 6rem 0 6rem;
}

.helptext {
  padding: 5rem 0 0 2rem;
}

footer {
  display: flex;
  justify-content: space-around;
  margin-top: 10rem;
  margin-bottom: 1rem;
  text-decoration: none;
}

.social {
  width: 3rem;
}

.copyright {
  display: flex;
  align-self: center;
}

@media only screen and (max-width: 700px) {
  .container {
    flex-direction: column;
  }
  .A {
    order: 2;
  }
  .B {
    order: 1;
  }
  .dropdown-menu {
    background-color: #000000;
  }
  .dropdown-item {
    background-color: #000000;
    color: white;
  }
  .dropdown-item:hover {
    background-color: rgb(1, 247, 13);
  }
}/*# sourceMappingURL=style.css.map */