$backgroundcolor:rgb(0, 0, 0);
$hovercolor:rgb(1, 253, 1);
$activecolor:linear-gradient(to top, rgb(105, 83, 10), rgb(255, 166, 0));
$fade:rgb(153, 153, 96);
$glow: rgb(255, 255, 0);
$active2: rgb(209, 137, 4);