@import "../utility/color";

.card {
    background-color: rgb(0, 0, 0);
    border-color: $glow;
    .btn {
        color: white;
        background-color: $backgroundcolor;
        border-color: $hovercolor;
        &:hover{
            color: $backgroundcolor;
            background-color:$glow;
            text-shadow: 2px 2px 2px #ff9900 ;
        }
    }
}

.row{
    gap: 2rem;
}