@import "../utility/color";

footer {
    background-color: black;
    display: flex;
    margin-top: 20rem;
    justify-content: space-around;
    text-decoration: none;
}

.social {
    width: 3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.copyright {
    display: flex;
    align-self: center;
}