footer {
    display: flex;
    justify-content: space-around;
    margin-top: 10rem;
    margin-bottom: 1rem;
    text-decoration: none;
}

.social {
    width: 3rem;
}

.copyright {
    display: flex;
    align-self: center;
}