@import "../utility/color";

footer {
    display: flex;
    justify-content: space-around;
    margin-top: 10rem;
    text-decoration: none;
}

.social {
    width: 3rem;
    margin-bottom: 2rem;
}

.copyright {
    display: flex;
    align-self: center;
}