.homeimages {
    display: flex;
    flex-shrink: 0;
    padding: 1rem;
    justify-content: center;
    align-self: center;
    overflow: hidden;
    border-radius:20%;
}

.art {
    img {
    width: 20rem;
    margin-left: 2rem;
    border-radius: 5%;
    opacity: 0.8;
    &:hover {
        opacity: 1;
        transition: 0ms;
        transform: scale(1.1, 1.1);
        }
    }
}

.ShopImages {
    display: flex;
    justify-content: flex-start;
    width: 9rem;
}

.ShopShirt {
    display: flex;
    justify-content: flex-end;
    width: 20rem;
}

.commisionimage {
    display: flex;
    justify-content: left;
    width: 10rem;
}

.helpimage {
    align-self: center;
    justify-content: center;
    &:hover {
        transition: 0ms;
        transform: scale(1.2, 1.2);
    }
}

.videos{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}