@import "../utility/color";

.navbar {
    background-color: $backgroundcolor;
    --bs-navbar-brand-color: rgb(153, 153, 96);
    --bs-navbar-brand-hover-color: yellow;
}

.navbar-brand img {
    padding-left: 1rem;
    width: 4rem;
    &:hover {
        transition: 0ms;
        transform: scale(1.2, 1.2);
    }
    
}

.active {
    background-image: $activecolor;
}

.nav-item {
margin-left: 1rem;
}

.nav-link {
    color: white;
    padding-left: 1rem;
    &:hover {
        background-color: $hovercolor;
    }
}

.dropdown-menu {
    margin-left: 1rem;
    background-color: $backgroundcolor;
    & :hover {
        background-color: $hovercolor;
    }
}

.dropdown-item {
    background-color: $backgroundcolor;
    color: white;
    &:hover {
        background-color: $hovercolor;
    }
}

.navbar-toggler {
    background-color:$backgroundcolor;
    border-color: orange;
    margin-right: 1rem;
    &:hover {
        border-color: $hovercolor;
        color: $hovercolor;
    }
    &:hover>.navbar-toggler-icon{
        background-image: url("../../assets/icons/burger.jpg");
    }
}

.navbar-toggler-icon{
    background-image: url("../../assets/icons/preburger.png");
}
