@import "../utility/color";

.about {
    text-align: center;
    padding: 2rem;
    font-size: larger;
}

.hometext {
    justify-content: center;
    padding: 5rem 2rem 1rem 2rem;
}

.shoptitles {
    color: $glow;
    display: flex;
    justify-content: center;
    padding: 6rem 0 6rem;
}

.helptext {
    justify-content: center;
    padding: 5rem 2rem 0 2rem;
}

.ContactForm{
    padding: 2rem;
}