@import "../utility/color";

.about {
    display: block;
    text-align: center;
    padding: 3rem;
    font-size: larger;
}

.hometext {
    text-align: center;
    padding: 5rem 5rem 0 4rem;
}

.shoptitles {
    color: $glow;
    display: flex;
    justify-content: center;
    padding: 6rem 0 6rem;
}

.helptext {
    display: flex;
    justify-content: center;
    padding: 5rem 0 0 2rem;
}
